body
{
    text-align: center;
}
#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}
#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}
.collapse navbar-collapse{
    position: fixed;
}
h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}
#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
input{
    background: grey;
}
.img-responsive{
    width: 600px;
    margin-left: 370px;
    margin-right: 100px;
}
.achievements_header{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
}
.achievements_header i{
    float: right;
}
.achievements_text span{
    color: #ff7700; 
}
.alumni{
    margin-top: 100px;
}
.book{
    cursor:pointer;
}
.book hr{
    margin-bottom: 10px;
}
.modal-content{
    margin-top: 100px;
}
.img_modal{
    display: inline-block;
}
.p_modal{
    margin-top: 10px;
}
.modal-body{
    text-align: center;
}
.ratan{
    margin-right: 100px;
    width: 380px
}
.canteen{
    width: 300px;
}